#mapcontainer {
	height: 93%;
	width: 70%;
	position: absolute;
	border: 2px solid #686868;
	display: inline-block;
	box-shadow: 7px 7px 4px #888888;
}

.navbar.navbar-default {
	margin: 0px;
	font-family: 'Oswald', sans-serif;
}

.navbar-brand, .dropdown-toggle {
	font-family: 'Oswald', sans-serif;
}

#side {
	color: #484848;
	font-family: 'Oswald', sans-serif;
	float: right;
	display: inline-block;
	width: 27%;
	margin-right: 10px;
}

#instructions {
	font-size: 10px
}

#info {
	font-size: 14px;
}