#mapcontainer {
	height: 93%;
	width: 70%;
	position: absolute;
	border: 2px solid #686868;
	display: inline-block;
	box-shadow: 7px 7px 4px #888888;
}

.navbar.navbar-default {
	margin: 0px;
}

.navbar-brand, .dropdown-toggle {
	font-family: 'Oswald', sans-serif;
}

.text {
	color: #484848;
	font-size: 12px;
	font-family: arial;
	float: right;
	display: inline-block;
	width: 35%;
}

.slide {
	position: relative;
}

.slide .inner {
	position: absolute;
	left: 0;
}